@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: lightslategray;
  text-align: center;
  
  
}

h1 {
  font-family: 'Montserrat', 'sans-serif';
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
}

.fill {
  background-image: url('http://source.unsplash.com/random/150x250');
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left:5px;
  cursor: pointer;
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 3px solid navy;
  background-color: white;
}

.hold {
  border: solid limegreen;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}



